/* style.css */

* {
  color: rgb(145, 46, 16);
}
body {
  background-color: rgb(230, 223, 236);
}




/*============== <Global> ==============*/

/*============== <home> ============================================*/

/*============== <header> ==============*/


.jumbotron{
  height: 50vw;
  color: rgb(222, 112, 236);
  background-image: url("../images/cover-coconuns.png") ;
  height: 900px;
  /* background-size: cover; */


}

#coconuns {
  all: revert;
  color: rgb(243, 43, 43);
}


.video, .page-header {
display: flex;
justify-content: center;
}

.leek {

  height: 200px;
}

/*============== <section 1> ==============*/



/*============== <section 2> ==============*/



/*============== <footer> ==============*/

/*============== <about> ============================================*/

/*============== <header> ==============*/




/*============== <section 1> ==============*/



/*============== <section 2> ==============*/



/*============== <footer> ==============*/

/*============== <gallerry> =======================================*/


/*============== <header> ==============*/




/*============== <section 1> ==============*/



/*============== <section 2> ==============*/



/*============== <footer> ==============*/
